#root {
  width: 100%;
  height: 100%;
  padding: 2rem;
}
.chat-app {
  margin: 0 auto;
  max-width: 1024px;
  width: 100%;
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  overflow: hidden;
}
.chat-app {
  width: 100%;
  height: 100%;
}
.chat-app.clearfix::after {
  clear: both;
  display: table;
  content: "";
}
.chat-app .left-content {
  position: relative;
  float: left;
  width: 25%;
  background-color: rgba(0, 0, 0, 0.1);
  height: 100%;
}
.chat-app .right-content {
  float: left;
  width: 75%;
  position: relative;
  height: 100%;
}
.chat-app .right-content form {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.1);
  display: flex;
  height: 3.5rem;
}
.right-content form input {
  border: 0;
  outline: 0;
  padding: 0 1rem;
  flex-grow: 1;
  border-radius: 2rem;
  margin: 0.5rem;
}
.right-content form > button {
  background: #333;
  border: none;
  padding: 0 1rem;
  margin: 0.5rem;
  border-radius: 3px;
  outline: none;
  color: #fff;
  cursor: pointer;
}

.right-content .messages {
  list-style-type: none;
  width: 100%;
  height: calc(100% - 3.5rem);
  padding: 1rem;
  overflow-y: auto;
  position: relative;
}

.left-content .users-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  height: calc(100% - 3.5rem);
  overflow-y: auto;
  padding: 0.6rem;
  position: relative;
}
.left-content .users-list li button {
  outline: 0;
  border: 0;
  display: block;
  width: 100%;
  background-color: #ddd;
  padding: 1rem;
  border-radius: 3px;
  text-decoration: none;
  color: #000;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  text-align: start;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.users-list li button span.online-status {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: gray;
  border-radius: 50%;
}
.users-list li button.online span.online-status {
  background-color: green;
}

.left-content .users-list li button:hover {
  background-color: #333;
  color: #fff;
}
.users-list .users-list-item.selected-user button {
  background-color: #333;
  color: #fff;
}

.left-content .logout-control {
  position: absolute;
  bottom: 0;
  height: 3.5rem;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
}
.left-content .logout-control button {
  background: #333;
  border: none;
  padding: 0 1rem;
  margin: 0.5rem;
  border-radius: 3px;
  outline: none;
  color: #fff;
  cursor: pointer;
}
.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  display: inline-block;
  border-width: 5px;
  border-color: rgba(0, 0, 0, 0.1);
  border-top-color: #333;
  z-index: 1;
  border-style: solid;
  border-radius: 50%;
  animation: msg-loader 1.5s linear infinite;
}
@keyframes msg-loader {
  0% {
    transform: translate(-50%, -50%) rotate(0);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
